# Python cache
__pycache__
__pycache__/
*.pyc

# Virtual environments
.env
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

# IDE / editor settings
.idea/
.vscode/
.DS_Store

# Build / distribution
build/
dist/
*.egg-info/
.eggs/
*.egg
wheels/
sdist/
downloads/
develop-eggs/

# Logs
logs/
*.log

# Project-specific
TODO.md
PROJECT_GOAL.md
*_cache
TEMP/

# Reports
*[._-]reports/
*[._-]report*
coverage/
.coverage
configs/coverage.json
docs/mypy-files.txt
htmlcov/
.mypy_cache/
.pytest_cache/

# Other
cython_debug/
.pytype/
__pypackages__/
pipenv.lock
.python-version
/site
.mo
.pot
pip-log.txt
*.manifest
*.spec